<div class="content">
    <form [formGroup]="registerFg" (ngSubmit)="registerFg.valid && register()">
        <div class="title">
            <h2> Create Account</h2>
            <mat-icon class="icon" routerLink="home">
                account_box
            </mat-icon>
        </div>

        <mat-form-field appearance="outline" color="accent">
            <mat-label> Name</mat-label>
            <input type="text" formControlName="nameCtrl" matInput placeholder="Your Name">
            <mat-hint>Pelese Enter Your Name </mat-hint>
            @if (NameCtrl.hasError('required')) {
            <mat-error> This field is required. </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label> Password</mat-label>
            <input type="password" formControlName="passwordCtrl" matInput placeholder="Your Password">
            @if (PasswordCtrl.hasError('required')) {
            <mat-error>This fild is required </mat-error>
            }
            @else if (PasswordCtrl.hasError('minlength')) {
            <mat-error>It's too short. Min: 6 characters.</mat-error>
            }
            @else if (PasswordCtrl.hasError('maxlength')) {
            <mat-error> It's too short. Max: 15 characters</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" color="warn">
            <mat-label> Confrim Password</mat-label>
            <input type="password" formControlName="confrimPasswordCtrl" matInput placeholder="Your Confrim Password">
            @if (PasswordCtrl.hasError('required')) {
            <mat-error>This fild is required </mat-error>
            }
            @else if (PasswordCtrl.hasError('minlength')) {
            <mat-error>It's too short. Min: 6 characters.</mat-error>
            }
            @else if (PasswordCtrl.hasError('maxlength')) {
            <mat-error> It's too short. Max: 15 characters</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="emailCtrl" placeHolder="Your email" matInput>
            <mat-hint>Pelese Enter Your Email</mat-hint>
            @if (EmailCtrl.hasError('required')) {
            <mat-error> This field is required. </mat-error>
            }
            @else if (EmailCtrl.hasError('pattern')) {
            <mat-error>Enter a valid email</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Age</mat-label>
            <input type="number" formControlName="ageCtrl" placeHolder="Your Age" matInput>
            <mat-hint>Pelese Enter Your Age</mat-hint>
            @if(AgeCtrl.hasError('required')){
            <mat-error>This field is required.</mat-error>
            }
            @else if(AgeCtrl.hasError('min')){
            <mat-error>The minimum age is eighteen.</mat-error>
            }
        </mat-form-field>

        <div class="panel">
            <!-- <button type="submit"  mat-raised-button color="accent">register</button> -->
            <button type="submit" [disabled]="registerFg.invalid" mat-raised-button color="accent">submit</button>
            <button [disabled]="registerFg.invalid" mat-raised-button color="primary" (click)="ClearForm()">

                reset</button>
        </div>
        <p class="check" *ngIf="passwordNotMatch"> passwordNotMatch</p>
        <p class="check" *ngIf="apiErrorMessage">{{apiErrorMessage}}</p>
    </form>
</div>