<mat-toolbar class="navbar">
    <section class="left">
        <!-- if in html in angular 17 -->
        @if (user) {
        <button [mat-menu-trigger-for]="menu" class="email-button" mat-mini-fab>
            <span> {{user.email[0]|lowercase}} </span>
        </button>
        }
        @else {
        <button routerLink='account/register' mat-raised-button color="primary"> Sign up</button>
        <button routerLink='account/login' mat-raised-button color="warn" class="login-button"> Login</button>
        }

        <mat-menu #menu [class]="'mat-menu'">
            @if (user) {
            <div class="user-data">
                <div class="image-profile">
                    <p> {{user.email[0] | titlecase}}</p>
                </div>
                <div>
                    <p> {{user.id}}</p>
                    <p class="email"> {{user.email}}</p>
                </div>
            </div>
            }

            <mat-divider> </mat-divider>
            <mat-list>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>edit_note</mat-icon>
                        Edit Profile
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-list>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>flaky</mat-icon>
                        All Members
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-list>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>assignment_returned</mat-icon>
                        Message
                    </div>
                </mat-list-item>
            </mat-list>
            <mat-divider> </mat-divider>
            <div class="logout">
                <button (click)="Logout()" mat-raised-button> Logout</button>
            </div>
        </mat-menu>

    </section>
    <!-- <p class="ShowEmail" *ngIf="user">{{user.email}}</p>  // if in html in angular 16   -->
    <section class="right">
        <ul class="list">
            <li routerLink="comment"> Comments</li>
            <li> Adversting</li>
            <li> home</li>
            <mat-icon class="icon" routerLink="home" fontIcon="home">
            </mat-icon>
        </ul>
        <div class="menu-responsive">
            <button class="button-menu" [matMenuTriggerFor]="aboveMenu" mat-raised-button color="accent">Menu</button>
            <mat-menu #aboveMenu [class]="'mat-menu-response'">
                <div class="button-menu">
                    <button routerLink="Comments" mat-menu-item>Comments</button>
                    <button mat-menu-item>Adversting</button>
                    <button routerLink="home" mat-menu-item>Home</button>
                </div>
            </mat-menu>
        </div>
    </section>
</mat-toolbar>